@page "/"
@using SPA.PQL.Evaluator

<textarea @bind="_pqlQuery"></textarea>
<textarea @bind="_simpleProgram"></textarea>

<button @onclick="Evaluate">Evaluate</button>

<div class="row">
    <div class="col-12">
        @if (_validationResult is not null)
        {
            @foreach (var item in _validationResult.Errors)
            {
                <div class="row">
                    <div class="col-12">
                        <span class="text-danger">@item</span>
                    </div>
                </div>
            }

            @foreach (var item in _validationResult.Warnings)
            {
                <div class="row">
                    <div class="col-12">
                        <span class="text-warning">@item</span>
                    </div>
                </div>
            }
        }
    </div>
</div>

<div class="row">
    <div class="col-12">
        @if (_result is not null)
        {
            @(_result.ToString())
        }
    </div>
</div>